<!DOCTYPE html>
<html>

<header>
<% include ./partials/_header %>
</header>

<body>
    <h1><b>YOUR URLS</b></h1>
    <ul>
        <% for(var url in urls) { %>
            <% var thisLink = (urls[url].link.replace('http://', '')); %>
            <% thisLink = (thisLink.replace('www.', '')) %>
            <li>
                <p>Short URL: <a href=<%=`/u/${url}` %>><%= url + ' '%></a> Full URL: <a href=<%= `/u/${url}` %>><%= urls[url].link %></a> 
                    <form action="/urls/<%= url %>/delete?_method=DELETE" method="post">
                        <button>Delete Link</button>
                    </form>
                    <form action='/urls/<%= url %>' method="get">
                        <button>Edit</button>
                    </form>
                </p> 
                <p>Times visited: <%= urls[url].visits %></p>
            </li>
    <% } %>
    </ul>
    <h3><a href='/urls/new'> SHORTEN A NEW LINK!</a></h3>
</body>

</html>