<!DOCTYPE html>
<html>

<header>
<% include ./partials/_header %>
</header>

<body>
    <h1><b>YOUR URLS</b></h1>
    <ul>
        <% for(var url in urls) { %>
            <% var thisLink = (urls[url].replace('http://', '')); %>
            <% thisLink = (thisLink.replace('www.', '')) %>
            <li>
                <p>Short URL: <%= url + ' '%>Full URL: <a href=<%= `https://www.${thisLink}` %>><%= urls[url] %></a> (Click URL code to update)
                    <form action="/urls/<%= url %>/delete" method="post">
                        <button>Delete Link</button>
                    </form>
                    <form action='/urls/<%= url %>' method="get"'>
                        <button>Edit</button>
                    </form>
                </p>
            </li>
    <% } %>
    </ul>
    <h3><a href='/urls/new'> SHORTEN A NEW LINK!</a></h3>
</body>

</html>